.parallax {
  /* The image used */

  /* Set a specific height */
  height: 80vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-1 {
  background-image: url("./img/thanks.jpg");
}

.parallax-2 {
  background-image: url("./img/slide1.jpg");
}

input.error {
  border: 1px solid red;
}

label.error {
  font-weight: normal;
  color: red;
}

textarea.error {
  border: 1px solid red;
  font-weight: normal;
  color: red;
}
