#products{
    height: auto;
    padding-left: 5%;
    margin-bottom: 150px;
}

.product-content{
    padding: 0;
}

.img-text {
    margin-top: 100px;
    display: block;
    text-align: center;
    font-size: 4rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.container-product {
    display: block;
    margin: 10px;
    border: 1px white solid;
}

.container-product:hover {
    border: 1px black solid;
}

.text-space {
    width: 316px;
    display: block;
}

.buy-btn{
    height: 40px;
    width: 316px;
    background-color: #0e1111;
    color: #efefef;
}


.prod {
    height: 298px;
    width: 298px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    background-size: cover;
    background-position: center;
}

@media only screen and (max-width: 790px){
    #products{
        margin-left: 20px;
    }
}

.prod-brazil{
    background-image: url(https://c.static-nike.com/a/images/c_limit,w_318,f_auto/t_product_v1/inqo79w8xadqykqowz5v/brasil-stadium-2019-mens-jersey-PjmrpW.jpg);
}

.prod-barca {
    background-image: url(https://c.static-nike.com/a/images/c_limit,w_318,f_auto/t_product_v1/iojclw3q8qboduoasxxa/fc-barcelona-2019-20-vapor-match-home-mens-soccer-jersey-Bj8JX3.jpg);
}

.prod-totten {
    background-image: url(https://c.static-nike.com/a/images/c_limit,w_318,f_auto/t_product_v1/zok2al2roeficzwabro6/tottenham-hotspur-2019-20-stadium-home-big-kids-soccer-jersey-BfwXP1.jpg);
}

.prod-barca-away{
    background-image: url(https://c.static-nike.com/a/images/c_limit,w_318,f_auto/t_product_v1/sqbyimiaq7k4vocpak1d/fc-barcelona-2019-20-stadium-away-mens-soccer-jersey-qhRNNP.jpg);
}

.prod-chelsea{
    background-image: url(https://c.static-nike.com/a/images/c_limit,w_318,f_auto/t_product_v1/nsuslj408eowh3jhwhpb/chelsea-fc-2019-20-vapor-match-away-mens-soccer-jersey-lnN9Nb.jpg);
}

.prod-juve {
    background-image: url(https://assets.adidas.com/images/w_385,h_385,f_auto,q_auto:sensitive,fl_lossy/3a5dd6bda64242448462aa3e00adf844_9366/juventus-home-jersey.jpg);
}

.prod-eng{
    background-image: url(https://c.static-nike.com/a/images/c_limit,w_318,f_auto/t_product_v1/uu9g4a8ev7zngvzmgor4/england-2019-stadium-away-mens-soccer-jersey-72cmPK.jpg);
}

.prod-us{
    background-image: url(https://c.static-nike.com/a/images/c_limit,w_318,f_auto/t_product_v1/ouxixboqctuorcgetqdz/us-stadium-2019-3-star-mens-away-jersey-S3NKDj.jpg);
}

.prod-mex{
    background-image: url(https://assets.adidas.com/images/w_385,h_385,f_auto,q_auto:sensitive,fl_lossy/ce14e69a091e4b4abe71a8660134da5a_9366/mexico-away-jersey.jpg);
}

.prod-us-away{
    background-image: url(https://c.static-nike.com/a/images/c_limit,w_318,f_auto/t_product_v1/qxkekekpsojwo20aqmuq/us-2019-stadium-home-womens-soccer-jersey-rBzQ3J.jpg);
}

.prod-mex-away{
    background-image: url(https://assets.adidas.com/images/w_385,h_385,f_auto,q_auto:sensitive,fl_lossy/85574e9afab64c718daba9c301234250_9366/mexico-home-authentic-jersey.jpg);
}

.prod-madrid{
    background-image: url(https://assets.adidas.com/images/w_385,h_385,f_auto,q_auto:sensitive,fl_lossy/5232b41cc4774aa786a0aa5b00929e34_9366/Real_Madrid_Home_Authentic_Jersey_White_DW4436_HM1.jpg);
}

.prod-man{
    background-image: url(https://assets.adidas.com/images/w_385,h_385,f_auto,q_auto:sensitive,fl_lossy/53c5a3f72e2e42d9abd3aa42008a8410_9366/Manchester_United_Home_Authentic_Jersey_Red_ED7387_HM1.jpg);
}

.prod-unam {
    background-image: url(https://c.static-nike.com/a/images/c_limit,w_318,f_auto/t_product_v1/fd7x6ob5cnnoqbguvvxn/pumas-unam-2019-20-stadium-home-mens-soccer-jersey-QJK5WF.jpg);
}

.prod-bayern{
    background-image: url(https://assets.adidas.com/images/w_385,h_385,f_auto,q_auto:sensitive,fl_lossy/090961372a1c4210a98faa2c00fc9c12_9366/fc-bayern-home-jersey.jpg);
}

.prod-chivas {
    background-image: url(https://images.puma.net/images/703882/01/fnd/PNA/w/288/h/288);
}

.prod-milan{
    background-image: url(https://images.puma.net/images/755857/01/fnd/PNA/w/288/h/288);
}

.prod-bor{
    background-image: url(https://images.puma.net/images/753310/01/fnd/PNA/w/288/h/288);
}

.prod-unam-away {
    background-image: url(https://cdn11.bigcommerce.com/s-mf8nk5mp4s/images/stencil/1280x1280/products/5594/6690/SK6GVPLG_OGL__79566.1563111589.png?c=2&imbypass=on);
}

.prod-inter {
    background-image: url(https://c.static-nike.com/a/images/c_limit,w_318,f_auto/t_product_v1/ck7yl8eqesqce13dzp7c/inter-milan-2019-20-stadium-home-mens-soccer-jersey-85QQDP.jpg);
}
